body {
    background-color: rgb(82, 82, 82);
    color: white;
}

.btn-dark {
    margin-top: 1rem;
}

.container div div {
    text-align: center;
    padding: 1rem;
}
#row1{
    margin-top: 2rem;
}
#row1 div{
    border: 1px solid white;
}

#row2 div{
    border: 1px solid white;
}

